
/* Inventory dashboard */
#inventory-div_1{
    display: flex;
}

/* Add inventory page  */
#addInventory-div_1{
    display: flex;
    justify-content: center;
    align-content: center;
}

#inventory-div_1-form_1{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}