
#navbar_id{
    background: linear-gradient(90deg, #4b0000 60%, #141010 100%);
}
#navbar-propType {
    color: #fff;
    -webkit-text-stroke: 1.2px black; /* black outline for supported browsers */
    font-weight: 900;
    font-size: 1.5rem;
    text-shadow: 0 2px 8px #000, 0 0 2px #800000;
}