
#navbar_id{
    background: linear-gradient(135deg, #bfa14a 0%, black 100%);
  
}
#navbar-propType {
    color: #9c780c; /* gold inside */
    -webkit-text-stroke: 1px black; /* black outline for supported browsers */
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 0 0 10px black;
}